*{
    margin: 0;
}

html, body{
    --black: hsl(240, 6%, 13%);
    --gray: hsl(240, 9%, 89%);
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body{
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.85);
}

.rope{
    display: flex;
    margin-bottom: -1rem;
    background: linear-gradient(45deg, rgb(15, 60, 156), rgb(9, 5, 68) , rgb(15, 60, 156), rgb(9, 5, 68));
    width: 2rem;
    height: 8rem;
    z-index: 1;
}

.rope-hole{    
    width: 13%;
    height: .5rem;
    background: #262626;
    margin: .75rem auto;
}

main{
    background: url(images/background.svg);
    width: 23.4375rem;
    height: 50.75rem;
    border-radius: 1rem;
    filter: drop-shadow(.1rem .1rem 1.1rem rgba(0,0,255,.25));
}

.container{
    max-width: 15.625rem;
    margin-inline: auto;
    text-align: center;
    color: var(--gray);
}

.avatar {
    width: 10rem;
    margin: 11.5rem auto 0;
  
    position: relative;
  }
  
  .avatar span {
    position: absolute;
    top: -15px;
    animation: rotation 50s infinite linear;
  }
  
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(365deg);
    }
}

  .avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
  
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }
  
  h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

a{
    text-decoration: none;
    color: var(--grey);
    display: flex;
    gap: .75rem;
    justify-content: center;
    align-items: center;
}

p{
    margin-top: 2rem;
}

ul{
    display: flex;
    gap: .5rem;
    justify-content: center;
    margin-top: 4rem;
    list-style: none;
    padding: 0;
}

li{
    display: flex;
    align-items: center;
    background-color: #252430;
    border-radius: .75rem;
    filter: drop-shadow(.0125rem .35rem .25rem rgba(0,0,0,.5));
}

li:hover{
   filter: none;
   transform: translateY(.35rem); 
}
